@media (max-width: 500px) {
  * {
    box-sizing: border-box;
  }

  section > .container {
    width: 100%;
  }

  #banner {
    position: relative;
    width: 100%;
  }

  #banner .name {
    font-size: 15px !important;
    position: absolute;
  }

  #banner .job {
    font-size: 12px !important;
    position: absolute;
    top: 55% !important;
  }

  #nav-bar {
    border: none;
  }

  #nav-bar .container {
    display: block;
    margin: 0;
    padding: 0;
  }

  #nav-bar .grid-items {
    display: block;
    padding: 10px 20px;
    border: none !important;
    text-align: left !important;
  }

  #nav-bar .container img {
    display: none;
  }

  #about .container {
    display: block;
  }

  #target {
    padding: 10px 15px;
    font-size: 20px;
  }

  #personal-info {
    padding: 10px 15px;
    font-size: 20px;
  }

  #job-info .container {
    grid-template-columns: repeat(1, 100%);
    width: 100%;
    padding: 30px 40px;
    font-size: 20px;
  }

  #certificate .container {
    padding: 0;
    margin: 0;
  }

  #certificate .cert-info {
    display: block;
    padding: 20px 30px;
  }

  #certificate .section-title {
    padding: 0 30px;
  }

  #certificate .cert-info .cert-list {
    display: block;
  }

  #certificate .cert-info .cert-list img {
    width: 100%;
    padding: 0;
  }

  #certificate .cert-info .cert-list:nth-child(2) {
    border-left: none;
    padding-top: 20px;
  }

  #project .container {
    width: 100%;
    padding: 30px 20px;
  }

  #project .container .pro-info {
    grid-template-columns: repeat(1, 100%);
  }

  #footer .container {
    padding: 30px 20px;
  }
}
